.header {
  &__nav {
    justify-content: space-between;
  }
  &__logo {
    margin-right: 0;
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 3.75rem;
    }
  }
  &__link {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      height: 2px;
      top: 100%;
      width: 0;
      transform: translateY(10px);
      background-color: $cBlueDark;
      z-index: 2;
      transition: width 0.3s;
    }
    &:hover,
    &:focus {
      &:before {
        width: 100%;
      }
    }
  }
  &__phone-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    background-color: $cBlue;
    border-radius: 50%;
    background: linear-gradient(180deg, $cBlueLight 0%, $cBlue 100%);
    box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1),
      inset 0px 2px 0px rgba(255, 255, 255, 0.25),
      inset 0px -2px 0px rgba(0, 32, 64, 0.1);
  }
  &__phone {
    display: flex;
  }
  &__connect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.625rem;
  }
  &__menu-btn {
    display: none;
  }
  &__title {
    max-width: 45.625rem;
    margin-bottom: 2.5rem;
  }
  &__action-link {
    padding: 1.875rem 3.4375rem;
  }
}

.active-link {
  &:before {
    position: absolute;
    content: "";
    height: 2px;
    top: 100%;
    width: 100%;
    transform: translateY(10px);
    background-color: $cBlueDark;
    z-index: 2;
  }
}

.underline {
  &::before {
    content: url("../../assets/images/hero/line-pc.svg");
    transform: translate(-8%, 35%);
  }
}

.main {
  &__heading {
    font-weight: 600;
    margin-bottom: 3.75rem;
  }
  &__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  &__accordion {
    max-width: 25rem;
    min-height: 25rem;
  }
  &__accordion-item {
    border-radius: 0.625rem;
    flex-direction: column;
    justify-content: center;
    min-height: 25rem;
    overflow: hidden;
  }
  &__accordion-content {
    display: none;
  }
  &__accordion-icon {
    margin-right: 0;
    margin-bottom: 1.375rem;
  }
  &__accordion-label {
    margin-right: 0;
    margin-bottom: 0.625rem;
    text-align: center;
  }
  &__accordion-toggle {
    display: none;
  }
  &__accordion-text {
    display: none;
  }
  &__text--hover {
    display: block;
    transform: scale(0);
    max-width: 20rem;
    max-height: 0;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: center;
    color: $cWhite;
    transform-origin: bottom;
    transition: max-height 0.4s, transform 0.4s;
  }
  &__draft {
    max-width: clamp(75rem, 90vw, 80rem);
    min-height: 28.3125rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__draft-show {
    max-width: 36.25rem;
  }
  &__draft-img {
    top: -5%;
    max-width: 23.75rem;
    max-height: 23.75rem;
  }
  &__draft-panel {
    background-color: $cGrayLight;
    padding: 2.5rem;
  }
  &__choices {
    background-color: $cWhite;
  }
  &__radio-label {
    cursor: pointer;
    padding: 0.9375rem clamp(1.875rem, 10.3vw, 5.375rem);
  }
  &__action-btn {
    cursor: pointer;
  }
  &__swiper-button {
    display: block;
  }
  &__clients-swiper {
    padding: 1.25rem 0 3.125rem;
  }
  &__client-slide {
    width: 38.75rem;
    max-width: 38.75rem;
    min-height: 15rem;
  }
  &__news-item {
    max-width: 25rem;
  }
  &__news-meta {
    min-width: 6.4375rem;
  }
  &__news-text {
    margin-bottom: 2.5625rem;
  }
  &__projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main__client-slide {
  &.swiper-slide-active {
    transform: scale(1.1);
  }
}

.main__accordion-item {
  &:hover > .main__text--hover {
    transform: scale(1);
  }
}

.main__accordion-item {
  &:focus > .main__text--hover {
    transform: scale(1);
  }
}

.active-link {
}
