.header {
  margin-bottom: 11.25rem;
  &__wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: transform 0.3s ease-in;
  }
  &__nav {
    min-height: 6.25rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__logo {
    margin-right: auto;
  }
  &__list {
    display: none;
  }
  &__phone {
    display: none;
  }
  &__menu-btn {
    margin-bottom: 0.625rem;
  }
  &__main {
    max-width: fit-content;
    margin: 11.25rem auto 0 auto;
  }
  &__title {
    text-align: center;
    max-width: 27.5rem;
    margin-bottom: 1.25rem;
  }
  &__consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__action-link {
    max-width: 20rem;
    padding: 1.125rem 0.9375rem;
    &:first-child {
      margin-bottom: 0.625rem;
    }
  }
}

.main {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    font-weight: 500;
    font-size: clamp(1.5rem, 10vw, 2.25rem);
    line-height: 2.75rem;
    margin-bottom: 2.5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
  }
  &__accordion {
    max-width: 27.5rem;
  }
  &__accordion-item {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    min-height: 138px;
    padding: clamp(0.625rem, 5vw, 2.5rem);
  }
  &__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    background-color: $cWhite;
    border-radius: 0 0 10px 10px;
  }
  &__accordion-icon {
    margin-right: 2rem;
  }
  &__accordion-label {
    color: $cWhite;
    margin-right: auto;
  }
  &__label {
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 1.5rem);
    line-height: 1.8125rem;
  }
  &__accordion-toggle {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__accordion-toggle-icon {
    transition: transform 0.3s;
  }
  &__accordion-text {
    color: $cBlueDark;
    padding: 2.5rem;
  }
  &__text--hover {
    display: none;
  }
  &__draft {
    width: clamp(96.5%, 90vw, 100%);
    max-width: 27.5rem;
    min-height: 45.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cWhite;
    box-shadow: 0rem 1.25rem 1.25rem rgba(0, 63, 128, 0.05);
    border-radius: 20px;
  }
  &__draft-show {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 27.5rem;
    height: 21.3125rem;
  }
  &__draft-img {
    position: absolute;
    top: 15%;
    max-width: 22.5rem;
    max-height: 15.0625rem;
  }
  &__draft-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
  }
  &__choices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.625rem;
    margin-bottom: 2.5rem;
    max-width: 31.25rem;
    box-shadow: 0rem 1.25rem 1.25rem rgba(0, 63, 128, 0.05);
    border-radius: 4.375rem;
  }
  &__radio-btn {
    display: none;
  }

  &__radio-label {
    display: inline-block;
    background-color: $cGrayLight;
    color: $cBlue;
    max-width: 14.6875rem;
    padding: 0.9375rem clamp(1.875rem, 10.3vw, 3.4375rem);
    &:first-of-type {
      margin-right: 0.625rem;
    }
  }
  &__draft-text {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    padding: 0 0.625rem;
    margin-bottom: 0.625rem;
    text-align: center;
  }
  &__price {
    font-weight: 600;
    font-size: 2.25rem;
    font-size: clamp(1.5rem, 9vw, 2.25rem);
    line-height: 2.75rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  &__action-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: clamp(1.25rem, 10vw, 1.875rem) clamp(1.875rem, 15vw, 3.75rem);
  }
  &__swiper {
    width: 100%;
    max-width: 80rem;
    height: 25rem;
  }
  &__swiper-slide {
    width: 25rem;
    max-width: 25rem;
    height: 25rem;
  }
  &__gallery-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  &__how-to-section {
    min-height: 66.8125rem;
    background-color: $cWhite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__how-to {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
    width: 100%;
  }
  &__how-to-item {
    background-color: $cGrayLight;
    max-width: 27.5rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__icon-container {
    width: 5.625rem;
    height: 5.625rem;
    margin-bottom: 1.25rem;
  }
  &__icon {
    width: 1.71875rem;
    max-height: 1.71875rem;
  }
  &__how-to-label {
    margin-bottom: 0.625rem;
    max-width: 14.375rem;
    text-align: center;
  }
  &__item-text {
    max-width: 14.375rem;
    text-align: center;
    color: $cBlueDark;
  }
  &__question-label {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  &__question-text {
    margin-bottom: 1.25rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: $cBlueDark;
  }
  &__phone-number {
    margin-bottom: 1.875rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }
  &__consultation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__consultation-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 1.5625rem 2.1875rem;
  }
  &__clients-heading {
    max-width: 27.5rem;
  }
  &__clients-swiper {
    background-color: bisque;
    width: 100%;
    //max-width: 100%;
    min-height: 340px;
  }
  &__client-slide {
    background-color: $cWhite;
    max-width: 400px;
    min-height: 300px;
    padding: 40px;
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 20px;
  }
  &__client {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__client-photo {
    margin-right: 20px;
  }
  &__client-name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: $cBlueDark;
  }
  &__client-link {
    color: $cBlueDark;
  }
  &__client-review {
    color: $cBlueDark;
    max-width: 540px;
  }
  &__partners-section {
    margin-bottom: 10rem;
  }
  &__partner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $cWhite;
    min-height: 140px;
    width: clamp(260px, 70vw, 440px);
    box-shadow: 0px 20px 20px rgba(0, 63, 128, 0.05);
    border-radius: 20px;
  }
}

//.main__client-slide {
//  &.swiper-slide-active {
//    //min-height: 340px;
//    //transform: scale(1.2);
//  }
//}
.heading {
  font-weight: 500;
}

.underline {
  color: $cBlue;
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    content: url("../../assets/images/hero/line.svg");
    transform: translate(-10%, 35%);
  }
}

.footer {
  width: 100%;
  background-color: $cBlueDark;
  color: $cWhite;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 2.5rem 0;
  }
  &__logo {
    margin-bottom: 1.5625rem;
  }
  &__info {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 0.3125rem;
  }
  &__ask {
    text-align: center;
  }
  &__text {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  &__action-btn {
    color: $cBlueDark;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 1.5625rem 2.1875rem;
  }
  &__row {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    padding: 0.625rem;
  }
  &__label {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    display: inline-block;
    margin-bottom: 0.625rem;
  }
  &__item {
    max-width: 25rem;
  }
  &__bottom {
    padding: 2.5rem 0;
  }
  &__bottom-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-item1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.625rem;
    margin-bottom: 1.875rem;
  }
  &__link {
    font-weight: 600;
    color: $cWhite;
  }
  &__link-text {
    text-align: center;
  }
  &__socials {
    display: flex;
  }
  &__social-item {
    height: 1.5625rem;
    &:not(:last-child) {
      margin-right: 1.25rem;
    }
    &:last-child {
      margin-right: 2.5rem;
    }
  }
  &__social-icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  &__btn-scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.15625rem 1.25rem;
    background-color: $cWhite;
    border-radius: 5px;
  }
}

.main__radio-btn {
  &:checked + .main__radio-label {
    background: linear-gradient(180deg, $cBlueLight 0%, $cBlue 100%);
    color: $cWhite;
  }
}

.section-end {
  margin-bottom: 7.5rem;
}

.accordion--active {
}
