.header {
  margin-bottom: 11.25rem;
  &__wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: transform 0.3s ease-in;
  }
  &__nav {
    min-height: 6.25rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__logo {
    margin-right: auto;
  }
  &__list {
    display: none;
  }
  &__phone {
    display: none;
  }
  &__menu-btn {
    margin-bottom: 0.625rem;
  }
  &__main {
    max-width: fit-content;
    margin: 11.25rem auto 0 auto;
  }
  &__title {
    text-align: center;
    max-width: 27.5rem;
    margin-bottom: 1.25rem;
  }
  &__consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__action-link {
    max-width: 20rem;
    padding: 1.125rem 0.9375rem;
    &:first-child {
      margin-bottom: 0.625rem;
    }
  }
}

.main {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    font-weight: 500;
    font-size: clamp(1.5rem, 10vw, 2.25rem);
    line-height: 2.75rem;
    margin-bottom: 2.5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
  }
  &__accordion {
    max-width: 27.5rem;
  }
  &__accordion-item {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    min-height: 138px;
    padding: clamp(0.625rem, 5vw, 2.5rem);
  }
  &__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    background-color: $cWhite;
    border-radius: 0 0 10px 10px;
  }
  &__accordion-icon {
    margin-right: 2rem;
  }
  &__accordion-label {
    font-weight: 600;
    font-size: clamp(1rem, 5vw, 1.5rem);
    line-height: 1.8125rem;
    color: $cWhite;
    margin-right: auto;
  }
  &__accordion-toggle {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__accordion-toggle-icon {
    transition: transform 0.3s;
  }
  &__accordion-text {
    color: $cBlueDark;
    padding: 2.5rem;
  }
  &__text--hover {
    display: none;
  }
  &__draft {
    width: clamp(96.5%, 90vw, 100%);
    max-width: 27.5rem;
    min-height: 45.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cWhite;
    box-shadow: 0rem 1.25rem 1.25rem rgba(0, 63, 128, 0.05);
    border-radius: 20px;
  }
  &__draft-show {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 27.5rem;
    height: 21.3125rem;
  }
  &__draft-img {
    position: absolute;
    top: 15%;
    max-width: 22.5rem;
    max-height: 15.0625rem;
  }
  &__draft-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
  }
  &__choices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.625rem;
    margin-bottom: 2.5rem;
    max-width: 31.25rem;
    box-shadow: 0rem 1.25rem 1.25rem rgba(0, 63, 128, 0.05);
    border-radius: 4.375rem;
  }
  &__radio-btn {
    display: none;
  }

  &__radio-label {
    display: inline-block;
    background-color: $cGrayLight;
    color: $cBlue;
    max-width: 14.6875rem;
    padding: 0.9375rem clamp(1.875rem, 10.3vw, 3.4375rem);
    &:first-of-type {
      margin-right: 0.625rem;
    }
  }
  &__draft-text {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.375rem;
    padding: 0 0.625rem;
    margin-bottom: 0.625rem;
    text-align: center;
  }
  &__price {
    font-weight: 600;
    font-size: 2.25rem;
    font-size: clamp(1.5rem, 9vw, 2.25rem);
    line-height: 2.75rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  &__action-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: clamp(1.25rem, 10vw, 1.875rem) clamp(1.875rem, 15vw, 3.75rem);
  }
}

.heading {
  font-weight: 500;
}

.underline {
  color: $cBlue;
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    content: url("../../assets/images/hero/line.svg");
    transform: translate(-10%, 35%);
  }
}

.main__radio-btn {
  &:checked + .main__radio-label {
    background: linear-gradient(180deg, $cBlueLight 0%, $cBlue 100%);
    color: $cWhite;
  }
}

.section-end {
  margin-bottom: 7.5rem;
}

.accordion--active {
}
