.header {
  &__logo-small {
    display: none;
  }
  &__logo-big {
    display: block;
  }
}
.main {
  &__how-to-item {
    align-items: flex-start;
    flex-direction: row;
    padding: 2.5rem;
  }
  &__icon-container {
    margin-bottom: 0;
    margin-right: 2.5rem;
  }
  &__how-to-label {
    text-align: start;
  }
  &__item-text {
    text-align: start;
  }
  &__consultation-btn {
    padding: 1.875rem 3.75rem;
  }
  &__document {
    flex-direction: row;
  }
  &__doc-icon {
    margin-right: 0.9375rem;
    margin-bottom: 0;
  }
  &__document-title {
    text-align: left;
    max-width: 13.75rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: auto;
  }
}

.main__client-slide {
  &.swiper-slide-active {
    transform: scale(1.05);
  }
}

.footer {
  &__logo-small {
    display: none;
  }
  &__logo-big {
    display: block;
  }
  &__action-btn {
    padding: 1.875rem 3.75rem;
  }
  &__grid {
    padding: 2.5rem;
  }
  &__bottom-item1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 3.75rem;
    max-width: 38.75rem;
  }
  &__link-text {
    text-align: left;
    max-width: fit-content;
  }
}
