.header {
  margin-bottom: 17.5rem;
  &__consultation {
    flex-direction: row;
  }
  &__action-btn {
    &:first-child {
      margin-bottom: 0;
      margin-right: 0.625rem;
    }
  }
  &__title {
    max-width: 45rem;
    font-size: 2.75rem;
    line-height: 3.375rem;
    text-align: left;
  }
  &__consultation {
    flex-direction: row;
    min-height: 5.3125rem;
  }
  &__main {
    margin: 17.5rem 0 0 0;
  }
}

.main {
  &__clients-heading {
    max-width: 30rem;
  }
  &__document-title {
    max-width: 37.5rem;
  }
}

.underline {
  font-weight: bold;
  &::before {
    position: absolute;
    content: url("../../assets/images/hero/line.svg");
    transform: translate(0%, 35%);
  }
}
