body {
  font-size: 16px;
}

.header {
  &__consultation-link {
    transition: border-width 0.1s;
    &:hover,
    &:focus {
      border-width: 2px;
    }
  }
  &__menu-btn {
    cursor: pointer;
  }
}

.oval-element--blue {
  &:hover,
  &:focus {
    background: linear-gradient(180deg, $cBlue 0%, $cBlue 100%);
  }
}

.section-end {
  margin-bottom: 10rem;
}

.main {
  &__grid {
    gap: 2.5rem;
  }
  &__how-to-section {
    min-height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  &__how-to {
    grid-template-columns: repeat(1, 1fr);
  }
  &__how-to-item {
    max-width: 52.5rem;
  }
  &__how-to-label {
    margin-bottom: 0.625rem;
    max-width: 39.375rem;
    text-align: start;
  }
  &__item-text {
    max-width: 39.375rem;
    text-align: start;
  }
  &__partner {
    min-height: 10rem;
    width: clamp(21.875rem, 29vw, 25rem);
  }
  &__partners-section {
    margin-bottom: 12.5rem;
  }
}

.footer {
  &__top {
    flex-direction: row;
    justify-content: start;
  }
  &__logo {
    margin-bottom: 0;
    margin-right: auto;
  }
  &__top-item {
    margin-right: 1.875rem;
  }
  &__text {
    margin-bottom: 0;
  }
  &__grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 2.5rem 0;
  }
  &__bottom {
    display: flex;
    width: 100%;
  }
  &__bottom-item1 {
    grid-template-columns: repeat(2, 17.375rem);
    gap: 1.25rem 5rem;
    max-width: 39.75rem;
    margin-right: auto;
  }
}

.stretch-item {
  width: 100%;
  margin: 0 auto;
}
