body {
  font-size: 16px;
}

.header {
  &__consultation-link {
    transition: border-width 0.1s;
    &:hover,
    &:focus {
      border-width: 2px;
    }
  }
  &__menu-btn {
    cursor: pointer;
  }
}

.oval-element--blue {
  &:hover,
  &:focus {
    background: linear-gradient(180deg, $cBlue 0%, $cBlue 100%);
  }
}

.section-end {
  margin-bottom: 10rem;
}

.main {
  &__grid {
    gap: 2.5rem;
  }
  &__how-to-section {
    min-height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  &__how-to {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    //background-color: cadetblue;
  }
  &__how-to-item {
    width: clamp(440px, 44vw, 840px);
    max-width: 840px;
    //min-height: 170px;
    //width: minmax(440px, 840px);
  }
  &__how-to-label {
    margin-bottom: 0.625rem;
    max-width: 630px;
    text-align: start;
  }
  &__item-text {
    max-width: 630px;
    text-align: start;
  }
}

.stretch-item {
  max-width: 25rem;
  //min-height: 550px;
  grid-row: 1/4;
  grid-column: 2;
}
