body {
  font-size: 16px;
}

.header {
  &__consultation-link {
    transition: border-width 0.1s;
    &:hover,
    &:focus {
      border-width: 2px;
    }
  }
  &__menu-btn {
    cursor: pointer;
  }
}

.oval-element--blue {
  &:hover,
  &:focus {
    background: linear-gradient(180deg, $cBlue 0%, $cBlue 100%);
  }
}

.section-end {
  margin-bottom: 10rem;
}

.main {
  &__benefits {
    gap: 2.5rem;
  }
}
