body {
  font-size: 16px;
}

.header {
  &__menu-btn {
    cursor: pointer;
  }
  &__consultation-link {
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background-color: $cGrayLight;
    }
  }
}

.oval-element--blue {
  &:hover,
  &:focus {
    background: linear-gradient(180deg, $cBlue 0%, $cBlue 100%);
  }
}

.section-end {
  margin-bottom: 10rem;
}

.main {
  &__grid {
    gap: 2.5rem;
  }
  &__how-to-section {
    min-height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
  }
  &__how-to {
    grid-template-columns: repeat(1, 1fr);
  }
  &__how-to-item {
    max-width: 52.5rem;
    align-items: center;
  }
  &__how-to-label {
    margin-bottom: 0.625rem;
    max-width: 39.375rem;
    text-align: start;
  }
  &__item-text {
    max-width: 39.375rem;
    text-align: start;
  }
  &__partner {
    min-height: 10rem;
    width: clamp(21.875rem, 29vw, 25rem);
  }
  &__partners-section {
    margin-bottom: 12.5rem;
  }
  &__documents-section {
    margin-bottom: 12.5rem;
  }
  &__document {
    min-height: 5rem;
  }
  &__project-choice {
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background: linear-gradient(180deg, $cBlue, $cBlue);
    }
  }
}

.footer {
  &__top {
    flex-direction: row;
    justify-content: start;
  }
  &__logo {
    margin-bottom: 0;
    margin-right: auto;
  }
  &__top-item {
    margin-right: 1.875rem;
  }
  &__text {
    margin-bottom: 0;
  }
  &__grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 2.5rem 0;
  }
  &__bottom {
    display: flex;
    width: 100%;
  }
  &__bottom-item1 {
    grid-template-columns: repeat(2, 17.375rem);
    gap: 1.25rem 5rem;
    max-width: 39.75rem;
    margin-right: auto;
  }
  &__action-btn {
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background-color: $cGrayLight;
    }
  }
  &__social-icon {
    transition: filter 0.2s;
    &:hover,
    &:focus {
      filter: invert(100%) sepia(76%) saturate(1187%) hue-rotate(178deg)
        brightness(100%) contrast(111%);
    }
  }
  &__btn-scroll {
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background-color: $cGrayLight;
    }
  }
}

.stretch-item {
  width: 100%;
  margin: 0 auto;
}
