$cBlue: #007fff;
$cBlueLight: #409fff;
$cBlueDark: #002040;
$cShadowBlue: #003f80;
$cWhite: #fff;
$cGray: #f2f2f2;
$cGrayLight: #f2f9ff;
$cGrayDarker: #bfbfbf;
$cGrayTheDarkest: #404040;
$cBlack: #000;
$cGreen: #00bf5f;
$bg: #f9fcff;
