@import "./modules/reset";
@import "./modules/variables";
@import "./modules/global";
@import "./modules/menu";
@import "./vendors/swiper-bundle.min.scss";

@media (min-width: 280px) {
  @import "./breakpoints/280up";
}

@media (min-width: 360px) {
  @import "./breakpoints/360up";
}

@media (min-width: 480px) {
  @import "./breakpoints/480up";
}

@media (min-width: 720px) {
  @import "./breakpoints/720up";
}

@media (min-width: 960px) {
  @import "./breakpoints/960up";
}

@media (min-width: 1240px) {
  @import "./breakpoints/1240up";
}

@media (min-width: 1440px) {
  @import "./breakpoints/1440up";
}
